{# src/Cupon/OfertaBundle/Resources/views/Default/portada.html.twig #}
{% extends '::frontend.html.twig' %}
{% block title %}Vuelve Pronto{% endblock %}
{% block id 'portada' %}
			{% block article %}
				<h1>Vuelve Pronto</h1>
			{% endblock %}
			{% block aside %}
				
			{% endblock %}
			